.footer {
  width: 100%;
  height: auto;
  border-top: 1px solid #eaeaea;
  font-family: "Zeyada", cursive;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
