html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: var(--gradient);
  background-size: 400%;
  animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

h1 {
  font-family: "Zeyada", cursive;
  font-size: 5rem;
}
h2 {
  font-family: "Zeyada", cursive;
  font-size: 3rem;
}
h3,
h4 {
  font-family: "Zeyada", cursive;
  font-size: 2rem;
}

:root {
  --gradient: linear-gradient(
    25deg,
    #71ff90ab,
    #fa8ca5ab,
    #f8d84ad2 /* #ffffffab */
  );
}

* {
  box-sizing: border-box;
}

main {
  margin: 10%;
  line-height: 1.5;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  width: 30em;
  height: 3em;
  border: none;
  font-size: 25px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: #57a9b4 0px 20px 30px -10px;
}

.container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
