html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: var(--gradient);
  background-size: 400%;
  animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

h1 {
  font-family: "Zeyada", cursive;
  font-size: 5rem;
}
h2 {
  font-family: "Zeyada", cursive;
  font-size: 2.8rem;
}
h3,
h4 {
  font-family: "Zeyada", cursive;
  font-size: 2.5rem;
}

:root {
  --gradient: linear-gradient(
    25deg,
    #71ff90ab,
    #fa8ca5ab,
    #f8d84ad2 /* #ffffffab */
  );
}

* {
  box-sizing: border-box;
}

main {
  margin: 10%;
  line-height: 1.5;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

code:hover {
  background-color: #fdffa0;
}

code:active {
  background-color: #feffdd;
  box-shadow: 0 5px #fcfd99;
  transform: translateY(4px);
}

a:link {
  color: #0125f0;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #0125f0;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #0125f0;
  background-color: transparent;
  text-decoration: underline;
}

.container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
}
